{% extends 'homebase.html' %}

{% block title %} {{setting.title|safe}} {% endblock %}
{% block keywords %} {{setting.keywords|safe}} {% endblock %}
{% block decription %} {{setting.decription|safe}} {% endblock %}

{% block sidebar %}
    {% include 'sidebar.html' %}
{% endblock %}

{% block content %}
    	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="#">Anasayfa</a></li>
				<li class="active">İletişim</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-5">
					<div class="billing-details">

						<div class="section-title">
							<h3 class="title">İletişim Formu</h3>
						</div>

						{% if messages %}
							{% for message in messages %}
								<div class="alert alert-{{message.tags}}" role="alert">
									{{ message }}
								</div>
							{% endfor %}
						{% endif %}

						<form action="" method="post">
							{% csrf_token %}
							{{ form.as_p }}
							<input type="submit" value="GÖNDER">
						</form>

					</div>

				</div>
				<div class="col-md-7">
					<div class="section-title">
						<h3 class="title">İletişim Bilgilerimiz</h3>
					</div>
					{{setting.contact|safe}}
				</div>

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->
{% endblock %}