{% extends 'homebase.html' %}

{% block title %} {{setting.title|safe}} {% endblock %}
{% block keywords %} {{setting.keywords|safe}} {% endblock %}
{% block decription %} {{setting.decription|safe}} {% endblock %}

{% block sidebar %}
    {% include 'sidebar.html' %}
{% endblock %}

{% block content %}
    	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="#">Anasayfa</a></li>
				<li class="active">Tek Ürün</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				{{urun.title|safe}}
				<img src="{{urun.image.url}}" width="520px" height="400px" alt="{{ urun.image }}">
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->
{% endblock %}